apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: auth-service:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
