apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-deployment
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metrics
  template:
    metadata:
      labels:
        app: metrics
    spec:
      containers:
      - name: metrics
        image: metrics-service:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: postgres-secret
        env:
        - name: DB_HOST
          value: postgres
